@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Public+Sans:wght@300;400;500;700&family=JetBrains+Mono:wght@500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Libre Caslon Text", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-primary: #625e51;
  --color-on-primary: #ffffff;
  --color-primary-container: #eae3d2;
  --color-on-primary-container: #696557;
  
  --color-surface: #fbf9f5;
  --color-on-surface: #1b1c1a;
  --color-surface-variant: #e4e2de;
  --color-on-surface-variant: #49473f;

  --color-outline: #7b776e;
  --color-outline-variant: #cbc6bb;

  --color-accent-mustard: #E1AD01;
  --color-accent-orange: #C04000;

  --radius-lg: 8px;
  --radius-xl: 12px;

  --spacing-container-padding: 40px;
  --spacing-section-gap: 64px;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }

  h1, h2, h3, h4, .font-heritage {
    @apply font-serif;
  }
}

.mcm-shadow {
  box-shadow: 4px 4px 0px 0px #49473f;
}

.mcm-shadow-sm {
  box-shadow: 2px 2px 0px 0px #49473f;
}
